.footer{
    display: flex;
    height: 50px;
    width: 90%;
    margin: 0 auto;
}

.footer div{
    text-align: center;
    margin: auto;
    font-size: 20px;
    border: 1px solid gray;
}

.uf{
    width: 10%;
}

.myProfile{
    width: 30%;
}

.search{
    width: 20%;
}

.subjects{
    width: 40%;
}


.search-input{
    width: 90%;
    margin: auto;
}

.content{
    display: flex;
    width: 90%;
    margin: 30px auto;
}

.left-column{

    width: 25%;
    height: 400px;
}

.right-column{
    height: 1000px;
    width: 75%;
}

.dropdown button{
    color: black;
    background: white;
    border: none;
}

.group-radio{
    margin-left: 12px;
    margin-top: 5px;
}

.student-short-info{
    display: flex;
    margin-top: 3px;
    border: 1px solid black;
    border-radius: 5px;
}

.profile-photo img{
    padding: 5px;
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.profile-photo{

}

.profile-info{
    width: 100%;
}

.profile-info p{
    margin-left: 10px;
    font-size: 18px;
}

.profile-skills{
    justify-content: right;
    width: 50%;
}

.profile-skills h6{
    text-align: center;
}

.profile-skills-item{
    justify-content: center;

}

.profile-skills-item li{
    margin-top: 5px;
}

.profile-skills-item li a{
    width: 120px;
    text-align: center;
}